@import '../constants.scss';

.task-creation {
    position: absolute;
    display: flex;
    z-index: 2;
    top: 5%;
    width: 100%;
    background-color: $white-color;
    border-radius: 20px;
}

.task-creation__data-block {
    position: relative;
    width: 60%;
    padding: 40px;
}

.task-creation__close-block {
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background-color: $purple-color;
    height: 60px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.task-creation__info {
    display: flex;
    justify-content: space-between;
    height: 65vh;
}

.task-creation__name-block {
    display: flex;
    justify-content: space-between;
    height: fit-content;
}

.task-creation__name {
    font-size: $main-text-size;
    font-weight: 900;

    &::placeholder {
        color: $black-color;
    }
}

.task-creation__edit-block {
    display: flex;
    align-items: center;
    font-weight: 500;
    border: $light-grey-color solid 1px;
    border-radius: 4px;
    padding: 5px 15px;
    cursor: pointer;
    height: 30px;
}

.task-creation__edit {
    margin-left: 5px;
}

.task-creation__details {
    display: flex;
    align-items: center;
    width: 50%;
    margin-top: 30px;
}

.task-creation__details-title {
    display: flex;
    align-items: center;
    width: 40%;
}

.calendar {
    filter: brightness(120%);
}

.priority {
    filter: brightness(0%);
    transform: rotate(270deg);
}

.task-creation__title {
    margin-left: 10px;
    color: $dark-grey-color;
}

.task-creation__data {
    position: relative;
    display: flex;
    justify-content: flex-start;
    text-align: start;
    width: fit-content;
    font-weight: 500;
    cursor: pointer;
    text-transform: capitalize;
}

.task-creation__status-change, .task-creation__priority-change {
    position: absolute;
    background-color: $white-color;
    z-index: 3;
    top: 100%;
    left: -15%;
    border-radius: 10px;
    border: $blue-grey-color solid 2px;
    width: fit-content;
    white-space: nowrap;

    .task-creation__status, .task-creation__priority {
        padding: 5px 30px;
        border-bottom: $blue-grey-color solid 2px;
        transition: all .5s;
    }

    .task-creation__status:hover, .task-creation__priority:hover {
        background-color: $blue-grey-color;        
    }

    .task-creation__status:last-of-type, .task-creation__priority:last-of-type {
        border-bottom: none;
    }
}

.task-creation__date-change {
    position: absolute;
    width: fit-content;
    z-index: 2;
    left: 130%;
    top: -100%;
}

.custom-calendar {
    .react-calendar__navigation {
        display: flex;
    }

    button {
        background-color: $white-color;
        border: $blue-grey-color solid 1px;
        width: max-content;
        cursor: pointer;
        transition: all .5s;

        &:hover {
            background-color: $blue-grey-color;
        }
    }
}

.task-creation__description-block {
    margin-top: 50px;
    width: 80%;
}

.task-creation__description-title {
    font-size: $medium-text-size;
    font-weight: 700;
}

.task-creation__description {
    margin-top: 20px;
    color: $dark-grey-color;
    line-height: 1.7;
    height: 10vw;
    width: 100%;
}

.task-creation__activity-block {
    background-color: $light-grey-color;
    width: 40%;
    padding: 40px 0 40px 40px;
    border-bottom-right-radius: 20px;
    overflow-y: scroll;
}

.task-creation__activity-title {
    font-size: $medium-text-size;
    font-weight: 700;
}

@media screen and (max-width: 900px) {
    .task-creation__data {
        margin-left: 20px;
    }
    
    .task-creation__name {
        width: 50%;
    }
}

@media screen and (max-width: 769px) {
    .task-creation__data {
        margin-left: 40px;
    } 

    .task-creation__date-change {
        width: 20vw;
    }
}