// COLORS
$black-color: #000;
$white-color: #fff;
$purple-color: #5d6481;
$grey-color: #e0e3ea;
$light-grey-color: #eeedf2;
$dark-grey-color: #5e6989;
$comet-color: #65666A;
$darken-grey-color: #8d9199;
$middle-grey-color: #a6acba;
$blue-grey-color: #dddcea;

// FONT SIZES
$main-text-size: 26px;
$medium-text-size: 20px;
$default-text-size: 16px;
$description-size: 10px;

// FONT FAMILIES
$default-font: 'Roboto'
